@(message: String)

@main("Curriculum Carlos Jaime") {

 

<!--<img src="@routes.Assets.versioned("images/jimmy.jpg")" width="100px" height="100px">-->
	<div class="container" align="center">
	  <div class="col-xs-8 col-md-8" >
    <a href="#" class="thumbnail">
      <img src="@routes.Assets.versioned("images/jimmydevelop.jpg")" width="600px" height="500px" alt="" class="img-responsive">
    </a>
  </div>

  <div class="page-header">
  <br/><br/><br/><br/>
<a href="https://www.linkedin.com/in/jimmy-lopez/" target="_blank"><div class="name"><h2>Carlos Jaime López Martínez</h2></div></a>
										<div class="pos"><h3>Ingeniero en Sistemas Computacionales</h3></div>

										</div>
		<div class="row">
			<div class="page">
				<header id="header">
					<ul class="nav nav-tabs" role="tablist">
					<div class="row">



										</div>
					
						<li class="profile"><a href="#profile" role="tab" data-toggle="tab"><span i class="fa fa-align-justify"></i></span></a></li>
						<li class="contacts"><a href="#contacts" role="tab" data-toggle="tab"><span i class="fa fa-folder-open"></span></a></li>
						<li class="portfolio"><a href="#portfolio" role="tab" data-toggle="tab"><span i class="fa fa-list"></span></a></li>
					 <li class="dribbble"><a href="https://dribbble.com/jaimtito682004" target="_blank"><span><i class="fa fa-dribbble"></i></span></a></li> 
						<li class="twitter"><a href="https://www.twitter.com/jaimtito682004" target="_blank"><span><i class="fa fa-twitter"></i></span></a></li>
						<li class="facebook"><a href="https://www.facebook.com/jimmy.lopez.mtz" target="_blank"><span><i class="fa fa-facebook"></i></span></a></li>
						
					</ul>
				</header><!-- /Header -->
			</div>
		</div>
	</div>
	
	
	<br/><br/><br/>
	

	<!-- Tab panes -->
	<div class="container">
		<div class="row">
			<div class="tab-content">
				<div class="tab-pane" id="profile">					
					<div class="panel-group" id="accordion">
					
						<div class="panel panel-default">
							<div class="panel-heading">
							  <h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
								Empleo
								</a>
							  </h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in">
								<div class="container">
									<div class="">
										<div class="feature1">

											<div class="col-md-4">
												<div class="feature">
													<div class="ficon">
														<i class="fa fa-mobile-phone fa-3x"></i>
													</div>
													<div class="details_exp">
														<h3>Desarrollador Web en Ciber Llamadas</h3>
														<p>Desarrollo del Sitio Web y APP Movil del Establecimiento</p>
<!-- 														<a href="#">more details</a>
 -->													</div>
												</div>
											</div>		
										
				
										</div>
									</div>
								</div>
							</div>
						</div>
						
						
						<div class="panel panel-default">
							<div class="panel-heading">
							  <h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
									Educación
								</a>
							  </h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="feature2">

										<div class="col-md-4">
											<div class="feature">
												<h4>1997-<span>2003</span></h4>
												<div class="ficon">
													<i class="glyphicon glyphicon-education glyphicon-3x"></i>
												</div>
												<div class="details_exp">
													
													<h3>Vicente Guerrero</h3>
													<p>Primaria General</p>
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="feature">
												<h4>2003-<span>2006</span></h4>
												<div class="ficon">
													<i class="glyphicon glyphicon-education glyphicon-3x"></i>
												</div>
												<div class="details_exp">
													
													<h3>Netzahualcoyotl</h3>
													<p>Secundaria General</p>
												</div>
											</div>
										</div>
										<div class="col-md-4">										
											<div class="feature">
												<h4>2007-<span>2010</span></h4>
												<div class="ficon">
													<i class="glyphicon glyphicon-education glyphicon-3x"></i>
												</div>
												<div class="details_exp">
													<h3>COBAEH</h3>
													<p>Bachillerato General</p>
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="feature">
												<h4>2010-<span>2016</span></h4>
												<div class="ficon">
													<i class="glyphicon glyphicon-education glyphicon-3x"></i>
												</div>
												<div class="details_exp">
													<h3>ITSOEH</h3>
													<p>Universidad</p>
													<p>Ingenieria en Sistemas Computacionales</p>
												</div>
											</div>
										</div>
									
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
							  <h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
									Habilidades
								</a>
							  </h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse">									
								<div class="panel-body">										
									<div class="col-md-6">
										<h5 class="panel-title">
										 Habilidades de Diseño
										</h5>
										<div class="progress">
										  <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
											<h5>Adobe Photoshop 70%</h5>												
										  </div>
										</div>
										<div class="progress">
											<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
												<span class="sr-only">75% Complete (success)</span>
												<h5> Unity 3D 75% </h5>
											</div>
										</div>
										<div class="progress">
											<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
												<span class="sr-only">50% Complete</span>
												<h5>Google Sketchup 50% </h5>
											</div>
										</div>
										<div class="progress">
											<div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
												<span class="sr-only">70% Complete (warning)</span>
												 <h5>GIMP 70%</h5> 
											</div>
										</div>
										<div class="progress">
											<div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
												<span class="sr-only">40% Complete (danger)</span>
												<h5>Blender 40%</h5>
											</div>
										</div>
									</div>
																			
									<div class="col-md-6">
										<h5 class="panel-title">
										Habilidades de Programacion
										</h5>
										<div class="progress">
											<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
												<span class="sr-only">95% Complete (success)</span>
												<h5>Java 95%</h5>
											</div>
										</div>
										<div class="progress">
											<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
												<span class="sr-only">90% Complete</span>
												<h5>PHP 90%</h5>
											</div>
										</div>
										<div class="progress">
											<div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 93%">
												<span class="sr-only">93% Complete (warning)</span>
												<h5>Javascript 93%</h5>
											</div>
										</div>
										<div class="progress">
											<div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 97%">
												<span class="sr-only">97% Complete (danger)</span>
												<h5>HTML 5 97%</h5>
											</div>
										</div>
											<div class="progress">
											<div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
												<span class="sr-only">75% Complete (danger)</span>
												<h5>Scala 75%</h5>
											</div>
										</div>

											<div class="progress">
											<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
												<span class="sr-only">85% Complete (danger)</span>
												<h5>Node JS 85%</h5>
											</div>
										</div>

											<div class="progress">
											<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
												<span class="sr-only">80% Complete (danger)</span>
												<h5>Python 80%</h5>
											</div>
										</div>
											<div class="progress">
											<div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
												<span class="sr-only">50% Complete (danger)</span>
												<h5>Swift 50%</h5>
											</div>
										</div>
											<div class="progress">
											<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
												<span class="sr-only">80% Complete (danger)</span>
												<h5>Objetive C 80%</h5>
											</div>
										</div>

											<div class="progress">
											<div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
												<span class="sr-only">50% Complete (danger)</span>
												<h5>GO Lang 50%</h5>
											</div>
										</div>

									</div>									
								</div>																
							</div>							
						</div>						
					</div>				
				</div>
				
				
				<div class="tab-pane" id="contacts">
					<div class="">
						<div class="col-md-12">
							<div class="map">
								<div id="google-map" data-latitude="40.713732" data-longitude="-74.0092704"></div>
							</div>
						</div>
					
						<div class="">
							<div class="contact-area">
								<div class="ficon">
									<i class="fa fa-mobile-phone fa-3x"></i>
								</div>
								<div class="details">
									<h3>+521773-127-2188</h3><br>
									<h3></h3><br>
									<a href="http://www.mezquitalroutes.mx" target="_blank">http://www.mezquitalroutes.mx</a>
								</div>
							</div>
						</div>
						<div class="">
							<div class="contact-form">
								<h4><strong>Contactame</strong></h4>
								<div id="sendmessage">Su Mensaje fue Enviado. Gracias!</div>
                                <div id="errormessage"></div>
                                <form action="" method="post" role="form" class="contactForm">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" id="name" placeholder="Su Nombre" data-rule="minlen:4" data-msg="Por Favor Ingrese 4 caracteres o mas" />
                                        <div class="validation"></div>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Su E-Mail" data-rule="email" data-msg="Por favor ingrese un email valido" />
                                        <div class="validation"></div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="Por Favor Ingrese 8 caracteres o mas en el Asunto" />
                                        <div class="validation"></div>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Escriba su Mensaje....." placeholder="Mensaje..."></textarea>
                                        <div class="validation"></div>
                                    </div>
                                    
                                    <div class="text-center"><button type="submit" class="btn btn-primary btn-lg">Enviar el Mensaje</button></div>
                                </form>
							</div>							
						</div>
					</div>
				</div>
			  <div class="tab-pane" id="portfolio">
				<section id="section-works" class="section appear clearfix">
					<div class="container">				
						<div class="row mar-bot40">
							<div class="col-md-offset-3 col-md-6">
								<div class="section-header">
									<h2>Portafolio</h2>
									<p>A continuación algunos de mis desarrollos para Aplicaciones Moviles, Sitios Webs y Hardware.</p>
								</div>
							</div>
						</div>				
							<div class="row">
								<nav id="filter" class="col-md-12 text-center">
									<ul>
									  <li><a href="#" class="current btn-theme btn-small" data-filter="*">Todos</a></li>
									  <li><a href="#"  class="btn-theme btn-small" data-filter=".webdesign" >Sitios Web</a></li>
									  <li><a href="#"  class="btn-theme btn-small" data-filter=".photography">Aplicaciones Moviles</a></li>
									  <li ><a href="#" class="btn-theme btn-small" data-filter=".print">Hardware</a></li>
									</ul>
								</nav>
								<div class="col-md-12">
									<div class="row">
									  <div class="portfolio-items isotopeWrapper clearfix" id="3">							  
										<article class="col-md-4 isotopeItem webdesign">
											<div class="portfolio-item">
												<img src="img/portfolio/img10.jpg" alt="" />
												 <div class="portfolio-desc align-center">
													<div class="folio-info">
														<h5><a href="#">Portfolio name</a></h5>
														<a href="img/portfolio/img10.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
													 </div>										   
												 </div>
											</div>
										</article>

										<article class="col-md-4 isotopeItem photography">
											<div class="portfolio-item">
												<img src="img/portfolio/img11.jpg" alt="" />
												 <div class="portfolio-desc align-center">
													<div class="folio-info">
														<h5><a href="#">Portfolio name</a></h5>
														<a href="img/portfolio/img11.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
													</div>										   
												 </div>
											</div>
										</article>
										
										<article class="col-md-4 isotopeItem photography">
											<div class="portfolio-item">
												<img src="img/portfolio/img12.jpg" alt="" />
												 <div class="portfolio-desc align-center">
													<div class="folio-info">
														<h5><a href="#">Portfolio name</a></h5>
														<a href="img/portfolio/img12.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
													 </div>										   
												 </div>
											</div>
										</article>

										<article class="col-md-4 isotopeItem print">
											<div class="portfolio-item">
												<img src="img/portfolio/img13.jpg" alt="" />
												 <div class="portfolio-desc align-center">
													<div class="folio-info">
														<h5><a href="#">Portfolio name</a></h5>
														<a href="img/portfolio/img13.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
													 </div>										   
												 </div>
											</div>
										</article>

										<article class="col-md-4 isotopeItem photography">
											<div class="portfolio-item">
												<img src="img/portfolio/img14.jpg" alt="" />
												 <div class="portfolio-desc align-center">
													<div class="folio-info">
														<h5><a href="#">Portfolio name</a></h5>
														<a href="img/portfolio/img14.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
													 </div>										   
												 </div>
											</div>
										</article>

										<article class="col-md-4 isotopeItem webdesign">
											<div class="portfolio-item">
												<img src="img/portfolio/img15.jpg" alt="" />
												 <div class="portfolio-desc align-center">
													<div class="folio-info">
														<h5><a href="#">Portfolio name</a></h5>
														<a href="img/portfolio/img15.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
													 </div>										   
												 </div>
											</div>
										</article>

										<article class="col-md-4 isotopeItem print">
											<div class="portfolio-item">
												<img src="img/portfolio/img16.jpg" alt="" />
												 <div class="portfolio-desc align-center">
													<div class="folio-info">
														<h5><a href="#">Portfolio name</a></h5>
														<a href="img/portfolio/img16.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
													 </div>										   
												 </div>
											</div>
										</article>

										<article class="col-md-4 isotopeItem photography">
											<div class="portfolio-item">
												<img src="img/portfolio/img17.jpg" alt="" />
												 <div class="portfolio-desc align-center">
													<div class="folio-info">
														<h5><a href="#">Portfolio name</a></h5>
														<a href="img/portfolio/img17.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
													 </div>										   
												 </div>
											</div>
										</article>

										<article class="col-md-4 isotopeItem print">
											<div class="portfolio-item">
												<img src="img/portfolio/img18.jpg" alt="" />
												 <div class="portfolio-desc align-center">
													<div class="folio-info">
														<h5><a href="#">Portfolio name</a></h5>
														<a href="img/portfolio/img18.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
													 </div>										   
												 </div>
											</div>
										</article>
										</div>                                      
									</div>
								</div>
							</div>
					</div>
				</section>										 
			</div>
		</div>
	</div>
	<a download href="#" class="download"><h2>Descargar CV</h2></a>
	<a href="#" class="scrollup"><i class="fa fa-chevron-up"> </i></a>
	
	<footer id="footer">		
		<div class="footer_copyright">
			Copyright &copy; Carlos Jaime López Martínez. Todos los derechos reservados.
            <div class="credits">
               
            </div>
		</div>
	</footer>
<ul>
Desarrollado con:
  <li><b>Play (FrameWork):</b> <em>@message</em></li>
  <li><b>Scala.js:</b> <em id="scalajsShoutOut"></em></li>
</ul>
}
